<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue практика</title>
    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>
    <div id="app">
        <div v-for="(item, i) in items" :index="i" :data-id="item.id" style="margin: 0 0 30px 0;">
            <p>
                <span>{{ i + 1 }}. </span><b>{{ item.name }}</b>
            </p>
            <p v-if="item.descr">{{ item.descr }}</p>
            <p @click="deleteElem">УДАЛИТЬ</p>
            <hr>
        </div>
        <form @submit.prevent="onSubmit">
            <input type="text" v-model="name">
            <input type="text" v-model="descr">
            <input type="submit">
        </form>
    </div>
    <script src="./main.js"></script>
    <script>
        const mountedApp = app.mount('#app');
    </script>
</body>
</html>
