@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
#app {
    min-height: 100vh;
    background: url('./image/background.jpg') center center / cover no-repeat;
}
.todo-wrap {
    width: 100%;
    max-width: 920px;
    min-height: calc(100vh - 60px);
    margin: 0 auto;
    padding: 30px;
    background: #ffffff;
    box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.3);
}
.todo-header {
    display: flex;
    justify-content: space-between;
    margin: 0 0 30px 0;
    padding: 0 0 30px 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}
.todo-title {
    text-align: center;
}
.todo-form {
    display: flex;
    justify-content: space-between;
}
.todo-form input {
    margin: 0 0 0 15px;
}
.todo-form input[type=text] {
    padding: 0 0 0 15px;
}
.todo-form input[type=submit] {
    padding: 10px;
    background: #daf246;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}
.todo-form input[type=submit]:hover {
    background: #d0fefc;
}
.todo-item {
    margin: 0 0 30px 0;
}
.completeElem {
    background: rgba(0, 184, 68, 0.5);
}

